@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');

:root{
    --grey: #B2BEB5;
}

*{
    font-family: 'Roboto', sans-serif;
    margin: 0; padding: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
    text-decoration: none;
    transition: all .2s linear;
    font-weight: normal;
    text-transform: capitalize;
}

*::selection{
    background: var(--grey);
    color: #fff;

}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

header{
    position: fixed;
    top:0; left: 0;
    z-index: 1000;
    width: 100%;
    background: #A9A9A9;
    padding: 2rem 5%;
    box-shadow: 0 .5rem 1rem rgba(0,0,0.1);
    display: flex;
    align-items: center;
    justify-content: space-between; 
}
