*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
}

.navbar {
    background: #e1d603;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

#navbar__logo {
    background-color: #9e8c16;
    background-image: linear-gradient(to top, #918326 0%, #90853e 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 3rem;
}

.fa-gem{
    margin-right: 0.5rem;
}

.navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbar__item {
    height: 80px;
}

.navbar__links {
    color: #fefefe;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
}

.navbar__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width: 100%;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #917c05;
    color: #fff;
}

.button:hover {
background: #e69c0a;
transition: all 0.3s ease;
}

.navbar__links:hover {
    color: rgb(0, 0, 0);
    transition: all 0.3s ease;
}

@media screen and (max-width: 960px) {
    .navbar__container {
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding:  0;
    }


    .navbar__menu {
        display: grid;
        grid-template-columns: auto;
        margin: 0; 
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 0;
        transition: all 0.5s ease;
        height: 50vh;
        z-index: -1;
        background: #7b7449;
    }

    .navbar__menu.active {
        background: #5e5628;
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 50vh;
        font-size: 1.6rem;
    }

    #navbar__logo {
        padding-left: 25px;
    }

    .navbar__toggle .bar {
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: #FFFDD0;
    }

    .navbar__item {
        width: 100%;
    }

    .navbar__links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    #mobile-menu {
        position: absolute;
        top: 20%; 
        right: 5%;
        transform: translate(5%, 20%);
    }

    .navbar__btn {
        padding-bottom: 2rem;
    }

    .button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 80px;
        margin: 0;
    }

    .navbar__toggle .bar {
        display: block;
        cursor: pointer;
    }

    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }

    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}

/* Top Section CSS */
.main {
    background-color: #FFFDD0;
}

.main__container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-self: center;
    margin: 0 auto;
    height: 90vh;
    background-color: #FFFDD0;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0 50px;
}
 
.main__content h1 {
    font-size: 4rem;
    background-color:#d2d0a2;
    background-image: linear-gradient(to top, #989350 0%, #c6c372 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.main__content h2 {
    font-size: 4rem;
    background-color:#d2d0a2;
    background-image: linear-gradient(to top, #3b7988 0%, #19b8c9 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.main__content p {
    margin-top: 1rem;
    font-size: 2rem;
    font-weight: 700;
}

.main__content p {
margin-top: 1rem;
font-size: 2rem;
font-weight: 700;
color: rgb(170, 162, 162);
}

.main__btn {
    font-size: 1rem;
    background-image:linear-gradient(to top, #cec275 0%, #9d9459 100%);
    padding: 14px 32px;
    border: none;
    border-radius: 4px;
    color: #fff;
    margin-top: 2rem;
    cursor: pointer;
    position: relative;
    transition: all 0.35s;
    outline: none;
}

.main__btn a {
    position: relative;
    z-index: 2;
    color: #fff;
    text-decoration: none;
}

.main__btn:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #19b8c9;
    transition: all 0.35s;
    border-radius: 4px;
}

.main__btn:hover {
    color: #fff;
}

.main__btn:hover:after{
    width: 100%; 
}

.main__img--container {
    text-align: center;
}

#main__img {
    height: 80%; 
    width: 80%;
}

/*  Mobile Responsive Method here */
@media screen and (max-width: 768px) {
    .main__container {
        display: grid;
        grid-template-columns: auto;
        align-items: center;
        justify-self: center;
        width: 100%;
        margin: 0 auto;
        height: 90vh;
    }

    .main__content {
        text-align: center;
        margin-bottom: 4rem;
    }

    .main__content h1 {
        font-size: 2.5rem;
        margin-top: 2rem;
    }

    .main__content h2 {
        font-size: 3rem;
    }

    .main__content p {
        margin-top: 1rem;
        font-size: 1.5rem
    }
}

@media screen and (max-width: 480px) {

    .main__content h1 {
        font-size: 2em;
        margin-top: 3rem;
    }

    .main__content h2 {
        font-size: 2rem;
    }

    .main__content p {
        margin-top: 2rem;
        font-size: 1.5rem
    }

    .main__btn {
        padding: 12px 36px;
        margin: 2.5rem 0;
    }
}

/* Services Section CSS*/

.services {
    background: #FFFDD0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.services h1  {
    background-color: #c6c372;
    background-image: linear-gradient(to right, #c6c372 0%, 
    #cfcc77 0%, #c5c267 25%, #c8c455 52%, #ada828 78%, #ada828 100%);
    
    background-size: 100%;
    margin-bottom: 5rem;
    font-size: 2.5rem;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.services__container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.services__card {
margin: 1rem;
height: 525px;
width: 400px;
border-radius: 4px;
background-image: linear-gradient(to bottom, 
rgba(0,0,0,0) 0%, rgba(17, 17, 17, 0.6) 100%),
url('/images/pic2.jpg');
background-size: cover;
position: relative;
color: #fff; 
}

.services__card:nth-child(2) {
    background-image: linear-gradient(to bottom, 
rgba(0,0,0,0) 0%, rgba(17, 17, 17, 0.6) 100%),
url('/images/pic3.jpg');
}

.services h2 {
    position: absolute;
    top: 350px;
    left: 30px;
}

.services__card p {
    position: absolute;
    top: 400px;
    left: 30px;
}

.services__card button {
    color: #fff;
    padding: 10px 20px;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #5f5e4a;
    position: absolute;
    top: 440px;
    left: 30px;
    font-size: 1rem;
    cursor: pointer;
}

.services__card:hover {
transform: scale(1.075);
transition: 0.4s ease-in;
cursor:pointer;
}

@media screen and (max-width: 960px) {
    .services {
        height: 1600px;
    }

    .services h1 {
        font-size: 2rem;
        margin-top: 12rem;
    }
}

@media screen and (max-width: 480px) {
    .services {
        height: 1400px;
    }

    .services h1 {
        font-size: 1.2rem;
    }

    .services__card {
        width: 300px;
    }
}

/* Footer CSS */
.footer__container {
    background-color: #e1d603;
    padding: 5rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#footer__logo {
    color: #fff;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
}

.footer__links {
    width: 100%;
    max-width: 1000px;
    display: flex;
    justify-content: center;
}

.footer__link--wrapper {
    display: flex;
}

.footer__link--items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 16px;
    text-align: left;
    width: 160px;
    box-sizing: border-box;
}

.footer__link--items h2 {
    margin-bottom: 16px;
}

.footer__link--items > h2 {
    color: #fff;
}

.footer__link--items a {
    color: #fff;
    text-decoration: none;
    margin-bottom: 0.5rem;
}

.footer__link--items a:hover {
    color: black;
    transition: 0.3s ease-out;
}

/* Social Icons */
.social__icon--link {
color: #fff;
font-size: 24px;
}

.social__media {
    max-width: 1000px;
    width: 100%;
}

.social__media--wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1000px;
    margin: 40px auto 0 auto;
}

.social__icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 240px;
}

.social__logo {
    color: #fff;
    justify-self: flex-start;
    margin-left: 20px;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

.websites_rights {
    color: black;
}

@media screen and (max-width: 820px) {
    .footer__links {
        padding-top: 2rem;
    }

    #footer_logo {
        margin-bottom: 2rem;
    }

    .websites_rights {
        margin-bottom: 2rem;
    }
    
    .footer__link--wrapper {
        flex-direction: column;
    }

    .social__media--wrap {
        flex-direction: column;
    }
}

@media screen and (max-width: 480px) {
    .footer__link--items {
        margin: 0;
        padding: 10px;
        width: 100%;
    }

    /* Sign Up page styling*/

    html{
        background-color: #FFFDD0;
        color: black;
    }
    body{
        padding-top: 20vh;
    }

    .signup__container{
        background: #cdc88d;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: auto;
        height: 460px;
        width: 350px;
        box-shadow: -3px -2px 6px #797659, 7px 9px 25px #3a392d;
    }
    form{
        display: flex;
        flex-direction: column;
        align-items: center;

    }
    input{
        height: 30px;
        border: 2px solid #3a392d;
        border-radius: 5px;
        background: #dbd7aa;
        color: black;
        text-align: center;
        outline: none;
        font-size: 15px;
    }
    .form-item-username{
        margin: 5px;
        display: flex;
        padding-bottom: 10px;
    }
    .form-item-username input{
        width: 150px;
        margin: 0 5px;
    }

    .form-item{
        margin: 0 auto;
        padding-bottom: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 91%;
    }
    .form-item input{
        margin: 10px;
        width: 100%;
    }
    .accept-box{
        display: flex;
        align-items: center;
        margin: auto;
        font-size: 15px;
    }
    a{
        color: black;
    }
    a:hover{
    color:#3a392d
    }
    
    .form-btns{
        display: flex;
        flex-direction: column;
        padding: 10px 0;
    }
    .form-btns button{
        margin: auto;
        font-size: 20px;
        padding: 10px;
        width: 280px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        color: black;
        background: #FFFDD0;

    }
    .form-btns button:disabled{
        cursor: not-allowed;
        background: #e0dfd0;
        color:#53534f
    }

    .form-btns button:hover{
        background: rgb(12, 212, 212);
        color: white;
    }
    .options{
        padding-top: 15px;
        margin: auto;
        font-size: 13px;
    }
    .pwd-format{
        position: relative;
        color: black;
        background: #616053;
        font-size: 11px;
        width: 150px;
        padding: 5px;
        border-radius: 5px;
        top: 112px;
        right: 0px;
        z-index: 2;
        display: none;
    }

    /*Scripture Page styling*/
    h2{
        font-size: 25px;
        font-weight: normal;
        text-transform: uppercase;
    }
    .mission-txt{
        font-size: 18px;
        font-weight: 500px;
        margin-top: 0;
    }
    p{
        text-align: justify;
    }
    .church__elders{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding: 20px;
    }
    .unit img{
        border-radius: 100px;
        height: 150px;
        margin-bottom: 10px;
    }

    body{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        background-color: #FFFDD0;
        margin: 0;
        padding: 0;
    }
    .wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        background-color: #c5c398;
        margin: 10px auto;
        padding: 5px 30px;
        box-shadow: 0 0 5px black;
        width: 800px;
    }

    @media screen and (max-width:840px) {
        .wrapper {
            width: 80%;
        }
}


:root{
    --white-light: rgba(255, 255, 255, 0.5);
    --alice-blue: #f8f9fa;
    --carribean-green: #40c9a2;
    --grey: #ededed;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

/*...*/

img{
	width: 100%;
	display: block;
}
.container{
	width: 88vw;
	margin: 0 auto;
}
.lg-title,
.md-title,
.sm-title{
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	padding: 0.6rem 0;
	text-transform: capitalize;
}
.lg-title{
	font-size: 2.5rem;
	font-weight: 500;
	text-align: center;
	padding: 1.3rem 0;
	opacity: 0.9;
}
.md-title{
	font-size: 2rem;
	font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.sm-title{
	font-weight: 300;
	font-size: 1rem;
	text-transform: uppercase;
}
.text-light{
	font-size: 1rem;
	font-weight: 600;
	line-height: 1.5;
	opacity: 0.5;
	margin: 0.4rem 0;
}

/*Product Section*/
.products{
	background: #FFFDD0;
	padding: 3.2rem 0;
}
.products .text-light{
	text-align: center;
	width: 70%;
	margin: 0.9rem auto;
}
.product{
	margin: 2rem;
	position: relative;
}
.product-content{
	background: #a09e7e;
	padding: 3rem 0.5rem 2rem 0.5rem;
	cursor: pointer;
}
.product-img{
	background: #989670;
	box-shadow: 0 0 20px 10px #9f9e83;
	margin: 0 auto;
	border-radius: 50%;
	transition: background 0.5s ease;	
}
.product-btns{
	display: flex;
	justify-content: center;
	margin-top: 1.4rem;
	opacity: 0;
	transition: opacity 0.6s ease;
}
.btn-cart, .btn-buy{
	background: transparent;
	border: 1px solid black;
	padding: 0.8rem 0;
	width: 125px;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	text-transform: uppercase;
	cursor: pointer;
	border: none;
	transition: all 0.6s ease;
}
.btn-cart{
	background: #5b5945;
	color: #f8f9fa;
}
.btn-cart:hover{
	background: #40c9a2;
}
.btn-buy{
	background: #928b3d;
	color: #f8f9fa;
}
.btn-buy:hover{
	background: #40c9a2;
}
.product-info{
	background: #b1ab68;
	padding: 2rem;
}
.product-info-top{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.rating span {
	color: #b1ab68;
}
.product-name{
	color: black;
	display: block;
	text-decoration: none;
	font-size: 1rem;
	text-transform: uppercase;
	font-weight: bold;
}
.product-price{
	padding-top: 0.6rem;
	padding-right: 0.6rem;
	display: inline-block;
}
.product-price:first-of-type{
	text-decoration: line-through;
	color: #ffffff;
}
.product-img img{
	transition: transform 0.6s ease;
}
.product:hover .product-img img{
	transform: scale(1.1);
}
.product:hover .product-img{
	background: #b1ab68;
}
.product:hover .product-btns{
	opacity: 1;
}
.off-info .sm-title{
	background: #b1ab68;
	color: white;
	display: inline-block;
	padding: 0.5rem;
	position: absolute;
	top: 0;
	left: 0;
	writing-mode: vertical-lr;
	transform: rotate(180deg);
	z-index: 1;
	letter-spacing: 3px;
	cursor: pointer;
}

/*Media Queries*/
@media screen and (min-width: 992px){
	.product-items{
		display: grid;
		grid-template-columns: repeat(2, 1fr);
	}
}
}